@font-face {
	font-family: HeliosExtc;
	font-display: swap;
	src: url("../fonts/heliosextc.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HeliosExtc-bold;
	font-display: swap;
	src: url("../fonts/heliosextc-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Neue;
	font-display: swap;
	src: url("../fonts/neue-machina-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
