.link {
  padding: toRem(10);
  border-radius: toRem(5);

  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(255, 215, 233, .35);
    }
  }
}

.tg-link {
  svg {
    max-width: toRem(28);
  }
}

.title-h2 {
  font-size: toRem(36);
  font-family: $boldFamily;

  @include adaptiveValue("margin-bottom", 30, 20);
}