.link {
  padding: toRem(10);
  border-radius: toRem(5);

  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: rgba(255, 215, 233, .35);
    }
  }
}

.tg-link {
  svg {
    max-width: toRem(28);
  }
}

.title-h2 {
  font-size: toRem(36);
  font-family: $boldFamily;

  @include adaptiveValue("font-size", 36, 24);
  @include adaptiveValue("margin-bottom", 30, 20);
}

.hidden {
  display: none !important;
}


.pulse-animation {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    /* Увеличиваем до 110% */
  }

  100% {
    transform: scale(1);
    /* Возвращаем к исходному размеру */
  }
}

.all-posts {
  @include adaptiveValue("padding-top", 30, 20);
  @include adaptiveValue("padding-bottom", 80, 30);
}

.pagination {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 40, 20);

  img {
    max-width: 20px;
  }
}

.page-numbers {
  padding: toRem(8) toRem(10);
  border-radius: toRem(5);
  background-color: #fff;
  transition: all 0.3s;

@media (any-hover: hover){
  &:hover{
    background: $pinkColor;
  }
}
}

.current {
  font-family: $boldFamily;
}

.next {}