.footer {
  background-color: #fff;

  @include adaptiveValue("padding-top", 40, 20);


  // .footer__container

  &__container {}

  // .footer__content

  &__content {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
 

    @include adaptiveValue("margin-bottom", 40, 20);
  }

  // .footer__img

  &__img {}

  // .footer__column

  &__column {}

  &__slogan {
    max-width: toRem(230);
    margin-top: toRem(20);

    font-family: $boldFamily;
    line-height: 22px;
    color: $mainColorBac;

    font-size: toRem(16);
  }

  // .footer__title

  &__title {
    margin-bottom: toRem(15);

    font-family: $boldFamily;
    font-size: toRem(15);
  }

  // .footer__menu-list

  &__menu-list {
    display: grid;
    gap: toRem(10);
  }

  // .footer__menu-item

  &__menu-item {
    font-size: toRem(14);

    .footer__column--price & {

      display: flex;
      align-items: center;
      gap: toRem(6);

      svg {
        margin-bottom: toRem(4);
      }
    }

    a {

      &.button {
        margin: 0;
      }

      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // .footer__column--price

  &__column--price {}

  // .footer__column--new-post

  &__column--new-post {}

  // .footer__column--contacts

  &__column--contacts {}

  // .footer__menu-list--contacts

  &__menu-list--contacts {}

  // .footer__social-list

  &__social-list {

    li {
      a {
        display: flex;
        align-items: center;
        gap: toRem(3);


        font-size: toRem(14);

        span {
          display: block;
          margin-top: toRem(4);

          @media (any-hover: hover){
            &:hover{
              text-decoration: underline;
            }
          }
        }

        svg {
          max-width: 24px;
        }
      }
    }

  }

  // .footer__bottom

  &__bottom {
    background: var(--grey);

    font-size: toRem(14);

    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-bottom", 40, 20);
  }

  &__container {
    .footer__bottom & {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }

  // .footer__copyright

  &__copyright {}

  // .footer__policy-links

  &__policy-links {}

  // .footer__link

  &__link {
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
}