.front-posts {
  // margin-top: toRem(80);
  // margin-top: toRem(40);
  // background-color: #fff;
  // padding-bottom: toRem(30);
  @include adaptiveValue("margin-top", 80, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
}

.posts {

  /* .posts__container */
  &__container {
    // padding-top: toRem(40);
    // background-color: #fff;
    // border-radius: toRem(10);


  }

  /* .posts__items */
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: toRem(20);
    row-gap: toRem(40);



    @media (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);

      &.catalog-posts__items {

        grid-template-columns: repeat(3, 1fr);

      }
    }

    @media (max-width:$mobile) {
      &.catalog-posts__items {

        grid-template-columns: repeat(2, 1fr);

      }
    }

    @media (max-width: toEm(630)) {
      grid-template-columns: auto;
      max-width: toRem(400);
      margin: 0 auto;

      &.catalog-posts__items {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
      }
    }

    @media (max-width:$mobileSmall) {
      &.catalog-posts__items {
        grid-template-columns: auto;
        max-width: 100%;
      }
    }

  }
}

.post-item {

  height: 100%;

  &:nth-child(6n+3),
  &:nth-child(6n+4) {


    @media (min-width:$tablet) {

      grid-column: span 2;

      .post-item__image-link {
        // aspect-ratio: 970 / 300;
        aspect-ratio: 670 / 325;

        img {
          // object-fit: contain;

          // height: toRem(325);
        }

        @media (max-width:$tablet) {
          height: 280px;
        }


        .catalog-posts__items & {
          aspect-ratio: 670 / 160;
        }
      }

    }

  }


  /* .post-item__image */
  &__image-link {
    display: block;
    margin-bottom: toRem(20);
    position: relative;
    // height: toRem(325);
    // aspect-ratio: 325 / 325;

    @media (max-width:$tablet) {
      height: toRem(280);

      .catalog-posts__items & {
        height: auto;
      }
    }

    img {
      // height: 325px;
      border-radius: toRem(5);
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .catalog-posts__items & {
      padding: toRem(20);
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: toRem(5);

      background-color: $brightGreenColor;

      text-align: center;


      @media (min-width:$tablet) {
        aspect-ratio: 325 / 160;

      }
    }
  }

  /* .post-item__info */
  &__info {}

  /* .post-item__tag-info */
  &__tag-info {
    display: flex;
    align-items: center;
    gap: toRem(10);
    margin-bottom: toRem(20);

    font-size: toRem(14);
    color: #463c3e;

    @include adaptiveValue("margin-bottom", 20, 12);

    @media (max-width:$mobileSmall) {
      font-size: 12px;
    }
  }

  /* .post-item__category */
  &__category {
    text-decoration: underline;

  }

  /* .post-item__date */
  &__date {}

  /* .post-item__title */
  &__title {
    font-size: toRem(20);
    line-height: 26px;
    color: #000;
    padding: toRem(10);
    margin: toRem(-10);

    border-radius: toRem(6);

    @media (max-width:$mobile) {
      font-size: toRem(16);
      line-height: toRem(24);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 215, 233, 0.35);

      }
    }
  }
}


.posts__items .post-item:nth-child(n+7) {
  display: none;
}


.last-posts {
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 60, 30);
}