.main-screen {
  // margin-top: toRem(80);


  &__container {

    margin-top: toRem(-5);
    padding-top: toRem(50);
    // background-color: #fff;
  }

  &__box {
    position: relative;
    width: 100%;
    display: flex;
    gap: toRem(20);
    justify-content: space-between;

    padding-top: toRem(50);
    padding-left: toRem(30);
    padding-right: toRem(60);
    padding-bottom: toRem(30);

    margin: 0 auto;
    border-radius: toRem(5);
    background-color: $brightGreenColor;

    &::before {
      mix-blend-mode: overlay;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      opacity: .7;

      position: absolute;
      background: url('@img/main-bk3.jpg') 0 0 no-repeat;
      background-size: cover;
      background-position: 0;
    }
  }

  &__content {
    position: relative;
    z-index: 20;
    // width: 65%;
  }

  &__slogan {
    // max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: toRem(20);



    line-height: toRem(40);
    font-size: 34px;

    span {
      display: block;
      margin-bottom: toRem(15);



      font-size: 38px;
      font-family: $boldFamily;

    }

  }

  &__subtitle {
    margin-top: toRem(40);
    display: flex;
    align-items: center;

    text-decoration: underline;

    font-family: $boldFamily;
    // font-family: $pixelFamily;

    &--link {
      margin-left: toRem(15);
      margin-bottom: toRem(4);

      img {
        width: toRem(30);
      }

      // text-decoration: underline;
      // text-transform: uppercase;
      // font-size: 25px;
      transition: all 0.3s;

      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.4);
        }
      }
    }

  }

  &__info-list {
    display: grid;
    gap: toRem(8);

    font-family: $pixelFamily;
  }

  &__image {
    position: relative;
    z-index: 20;
    width: 100%;
    max-width: toRem(300);

    align-self: flex-start;
  }
}