.main-screen {
  margin-top: toRem(80);

  background-color: #fff;

  &__box {
    width: 100%;

    // height: 300px;
    margin: 0 auto;
    border-radius: toRem(5);
    background-color: $brightGreenColor;
  }

  &__image {
    max-width: 100%;
    width: toRem(500);
  }
}