.single {

  display: grid;
  grid-template-columns: 60% auto;
  column-gap: 50px;

  /* .single__sidebar */
  &__sidebar {
    padding-left: 100px;
  }

  /* .single__content */
  &__content {
    padding: toRem(25);

    // background-color: $pinkColor;
    // background-color: rgba(255, 215, 233, 0.35);
    background-color: #fff;
    border-radius: toRem(5);

    ol,
    ul {
      position: relative;
      padding-left: toRem(30);
      // margin-bottom: toRem(25);
    }

    details[open] {
      summary::marker {
        content: "-";
      }
    }

  }

  /* .single__title */
  &__title {
    cursor: pointer;

    &::marker {
      content: "+";
      position: absolute;
      left: -5px;
      padding-left: toRem(20);
    }

    span {
      // display: block;
      margin-left: 10px;
    }
  }

  /* .single__list */
  &__list {
    margin-top: toRem(20);
    display: grid;
    gap: toRem(5);
  }

  /* .single__list--item */
  &__list--item {}

  /* .single__banner */
  &__banner {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    max-width: toRem(280);
    min-height: toRem(290);
    padding: toRem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: $lightGreenColor;
    border-radius: toRem(5);

    font-size: 30px;
    font-family: $boldFamily;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
    color: #fff;
  }
}

.article {
  padding-bottom: toRem(50);

  /* .article__title */
  &__title {
    font-size: toRem(40);
    // font-family: $boldFamily;
    font-family: $pixelFamily;
    font-weight: 800;
    margin-bottom: toRem(30);

  }

  /* .article__slogan */
  &__slogan {
    margin-bottom: toRem(20);

    font-family: $pixelFamily;
    font-size: toRem(16);
    font-style: italic;
    line-height: toRem(26);
  }

  &__top {
    margin-bottom: toRem(40);
    padding: 30px 0;

    background-color: rgba(255, 215, 233, 0.35);
    border-radius: toRem(5);
  }

  /* .article__header */
  &__header {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // justify-items: center;
    // // justify-content: space-between;
    // margin-bottom: toRem(20);
    // // max-width: toRem(325);
    // margin-left: auto;
    // margin-right: auto;
  }

  /* .article__date */
  &__date {
    font-size: toRem(13);
  }

  /* .article__share */
  &__share {}

  /* .article__social */
  &__social {}

  /* .article__image */
  &__image {


    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    // margin-bottom: toRem(20);
    // max-width: toRem(325);
    // aspect-ratio: 670 / 400;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: toRem(5);
  }

  /* .article__body */
  &__body {
    color: #181818;
    line-height: 150%;

    p {
      margin-bottom: toRem(25);
    }

    h2 {
      padding: toRem(25) 0;

      font-family: $boldFamily;
      font-size: 28px;
      line-height: 120%;
    }

    h3 {
      padding: 20px 0;

      font-size: 22px;
      line-height: 120%;
    }

    ul,
    ol {
      position: relative;
      padding-left: toRem(30);
      margin-bottom: toRem(25);
    }
  }

  /* .article__h2 */
  &__h2 {}

  /* .article__h3 */
  &__h3 {
    // font-size: 24px;
  }

  /* .article__banner */
  &__banner {
    padding: toRem(25) toRem(40);
    margin-bottom: toRem(25);
    // background-color: rgba(255, 215, 233, 0.35);
    background-color: $pinkColor;
    border-radius: toRem(5);
  }

  /* .article__sub */
  &__sub {
    margin-bottom: toRem(20);

    font-size: toRem(16);
    // font-style: italic;
    // font-weight: 600;

    color: rgba(24, 24, 24, 0.8);
    // color: $lightGreenColor;

  }

  /* .article__more-link */
  &__more-link {
    font-size: toRem(25);
    line-height: 30px;
    font-family: $pixelFamily;
    text-decoration: underline;
  }

  /* .article__footer */
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}